.App {
  text-align: left;
  margin-left: 5vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.file-item {
  /* margin-left: 25px; */
  /* position: absolute; */
}

.folder-expanded {
  display: inline-block;
  width: 30vw;
  background-color: rgb(219, 211, 211);
}

.expand {
  /* position: relative;
  margin-left: 25px; */
  padding-left: 30px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
